/*
Student's Name: Clarissa Lacefield
    Today's Date: May 22 2024
    File: styles08.css

*/

/* CSS Reset */
body, main, footer, table {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body */
body {
	background-color: #ffe5dc;
    
}

/* Style rule for the container */
#container {
	width: 80%;
	margin: 0 auto;
}

/* Style for table */
table {
	width: 80%;
	margin: 0 auto;
	border: 5px solid #fd4d0c;
    font-family: sans-serif;
    box-shadow: 10px 10px 10px #792101;

}

/* Style borders for and inside the table */
table, td, tr, th{
	border-collapse: collapse;
	padding: 2%;
}

/* add a border to th and td, align text to left */
td, th {
	border: 1px solid #a22c02;
    text-align: left;
}

/* make the odd rows a different color */
tr:nth-child(odd) {
	background-color: #fe9772;
}


/* make class, term, fall, spring, summer background color dark orange, light border */
.class, .term, .spring, .fall {
    border-right-color: #ffe5dc;
    border-bottom-color: #ffe5dc;
    background-color: #b31700;
    text-align: center;
    color: #ffe5dc;

}

/* add the light border to the bottom only of summer */
.summer {
    border-bottom-color: #ffe5dc;
    background-color: #b31700;
    color: #ffe5dc;
}

/* style the caption for the table */
caption {
    font-size: 36px;
    color: #b31700;
    font-weight: bold;
}

/* Style for the footer element */
footer {
	font-size: .70em;
	text-align: center;
}